@font-face {
    font-family: 'KumbhSans-Bold';
    src: url('../fonts/KumbhSans-Bold.ttf') format('truetype');
    /* Add additional src lines for other file formats */
  }

  @font-face {
    font-family: 'KumbhSans-Regular';
    src: url('../fonts/KumbhSans-Regular.ttf') format('truetype');
    /* Add additional src lines for other file formats */
  }
  $primaryColor: #5964E0;
  *{
    box-sizing: border-box;
  }
  body {
    font-family: 'KumbhSans-Bold', sans-serif;
    padding: 0;
    margin: 0;
  }
  ul {
    font-family: 'KumbhSans-Regular', sans-serif;
    padding: 0;
    margin: 0;
  }
  h6{
    font-family: 'KumbhSans-Bold', sans-serif;
  }
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    height: 100%;
    max-width: 1200px;
    width: 100%;
    padding: 0 40px;
  }

  .jobs-list-container .jobs-container .card{
    margin-top: 50px;
    position:relative;
    overflow: initial;
  }

  .jobs-list-container .jobs-container .card:nth-child(n+13){
    display: none;
  }

  .jobs-list-container .jobs-container.expanded .card:nth-child(n+13){
    display: initial;
  }
  .imageCont{
    width: 140px;
    height: 140px; 
    @media (max-width: 420px) {
    height: 40px;
    width: 40px;
    top: -20px;
  }
  }
  .imageCont span{
    display: block!important;
    height: 100%!important;
    width: 100%!important;

  }
  .logoImage{
    width: 60px!important;
    height: initial!important;
    top: 50%!important;
    left: 50%!important;
    transform: translate3d(-50%, -50%, 0)!important;
    margin: initial!important;
  min-width: initial!important;
  min-height: initial!important;
  @media (max-width: 420px) {
    width: 20px;
  }
}

  .MuiContainer-root#pageContainer{
    min-height: 100vh;
    border-radius: 15px;
  }
  .detailInfoHeaderLinks{
    @media (max-width: 420px) {
      text-align: center;
    }
  }